{% extends "network/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
<div id="all-posts-view">
    <!-- create post form -->
    <h1 id="posts-header">All Posts</h1>
    <div class="form-container">
        <form id="post-form" action="{% url 'posts' %}" method="post">
            <h2>New Post</h2>
            {% csrf_token %}
            {{ post_form.as_p }}
            <div class="form-under">
                <input id="post-button" type="submit" class="btn btn-primary" value="Post">
                <div id="word-length">300</div>
            </div>
        </form>
    </div>

    <!-- render posts -->
    <div id="posts">

    </div>

</div>
<div id="following-view">
    <h1>Following</h1>
</div>

<div id="user-info-view">
    <h1>Profile</h1>
</div>
{% endif %}
{% endblock %}