/* add nav-link hover effect */
.pointer:hover {
  cursor: pointer;
}

/* post_form style */
.form-container {
  width: 90vw;
  height: 7%;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form-textarea {
  height: 100px;
  border-radius: 5px;
  width: 80vw;
}

.form-under {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
